# setting default lang, even for non-interactive sessions
export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8

# setting default exports for interactive sessions
[ ! -t 1 ] && return
export TERM=xterm
export PS1='[\033[32m\]\w\]\033[00m\]] > '
export EDITOR=vim
